<!-- Step 2 for gathering a user's personal information -->

<h2>Step 2  >  A bit about You</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
	<br /><br />
	<%= f.error_messages %>
	<p>
		<%= image_tag(@user.profile_image_url(:thumb)) if @user.profile_image? %><br />
		<%= f.label :profile_image, "Add a picture of yourself: " %>
		<%= f.file_field :profile_image %>
		<%= f.hidden_field :profile_image_cache %><br /><br />
	</p>

	<p>
		<%= f.label :interest_list, "Add interests: " %><br />
	  	<%= f.text_field :interest_list %>
	</p>

	<p>
		<%= f.label :first_name %><br />
	  	<%= f.text_field :first_name %>
	</p>

	<p>
		<%= f.label :last_name %><br />
	  	<%= f.text_field :last_name %>
	</p>

	<p>
		<%= f.label :location %><br />
	  	<%= f.text_field :location %>
	</p>

	<p>
		<%= f.label :your_birth_year %><br />
	  	<%= f.date_select :birthday, :start_year => 2011, :end_year => 1910, 
						:discard_month => true, :discard_day => true %>
	</p>

	<p><%= f.submit "Continue" %></p>
	<p><%= f.submit "Back", :name => "back_button" %></p>
	
	<%= hidden_field_tag 'step', '2' %>
<% end %>
