<!-- Handles rendering whichever type of schedule the user chooses to use in signing up -->

<ul id="breadcrumb">
	<li class="faded"><%= "Step 1 > Login Info" %></li>
	<li><%= link_to "Step 2 > A Bit About You", "signup_wizard?step=2" %></li>
	<li class="active">Step 3 > Availability</li>
</ul>

<%= form_for @time_block do |f| %>
	<% if false %>
		<%= render "complex_recurring_schedule", :f => f %>
	<% elsif false %>
		<%= render "simple_schedule", :f => f %>
	<% else %>
		<%= render "conventional_simple_schedule", :f => f %>
	<% end %>

	<% if current_user.signup_status == 'completed' %>
		<p id="form_button"><%= f.submit "Update", :class => "orange_button" %>
	<% else %>
		<p id="form_button"><%= f.submit "Continue", :class => "orange_button" %> or <%= f.submit "Back", :name => "back_button", :class => "back_button" %></p>
		<%= hidden_field_tag 'resource', @resource %>
	<% end %>
<% end %>
