<!-- Important: in Gary wizard  (Step 2 - information step, not including schedule) -->

<ul id="breadcrumb">
	<li class="faded">Step 1 > Login Info</li> 
	<li class="active">Step 2 > A Bit About You</li>
	<li class="faded">Step 3 > Availability</li>
</ul>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>

	<%= f.error_messages %>
	<p>
		<%= f.label :first_name %><br />
	  	<%= f.text_field :first_name %>
	</p>
	<p>
		<%= f.label :last_name %><br />
	  	<%= f.text_field :last_name %>
	</p>
	<p>
		<h3>Monday Availability</h3>
		<span class="instructions">Please answer the following questions based on your preference on the time that you plan to attend CSE 110 Monday discussion section.  The choices of time are on Mondays 2pm-2:50pm, 3pm-3:50pm or 4pm-4:50pm.  Please enter 1 to indicate your first choice, 2 for your second choice, 3 for your third choice, or 0 if you can't attend at that time.  If you have no preference among your first and second choice, please enter 2 for both of them.  If you have no preference among your second and third choice, please enter 3 for both of them.  If you have no preference among all your choices, please enter 3 for all of them.</span>
		<table>
		  	<tr>
				<td>What is your attendance preference for Monday from 2pm-2:50pm?
				<span class="info">Please enter 1 for first choice, 2 for second choice, 3 for third choice, or 0 for not available.</span></td>
				<td><%= f.select :discussion_section_1, {"1" => 1, "2" => 2, "3" => 3, "0" => 0} %></td>
			</tr>
			<tr>
				<td>What is your attendance preference for Monday from 3pm-3:50pm?
				<span class="info">Please enter 1 for first choice, 2 for second choice, 3 for third choice, or 0 for not available.</span></td>
				<td><%= f.select :discussion_section_2, {"1" => 1, "2" => 2, "3" => 3, "0" => 0} %></td>
			</tr>
			<tr>
				<td>What is your attendance preference for Monday from 4pm-4:50pm?
				<span class="info">Please enter 1 for first choice, 2 for second choice, 3 for third choice, or 0 for not available.</span></td>
				<td><%= f.select :discussion_section_3, {"1" => 1, "2" => 2, "3" => 3, "0" => 0} %></td>
			</tr>
		</table>
	</p>
	<br />
	<p>
		<h3>Your Friends</h3>
		<span class="info"><%= f.label "(Optional) Open the dropdown and click the name of a friend you want to work with or start typing a name on the left and click one from the selection. Click Add to Friends to add them to the text field below. You can use both the dropdown and the text field multiple times." %></span>
		
	  	<div id ="friends_selection">
		
	  		<div class="floatLeft">
				<input type="text" class="autocomplete"></input><%= link_to "Add To Friends", "javascript:void(0);", :class => "orange_button teammate_trigger" %>
			</div>
			
			<div class="floatRight">
				<select class="team_select">
					<option selected="selected">Choose A Friend</option>
					<option>------------</option>
					<option value="Al Colmenar <acolmena@ucsd.edu>">Al Colmenar</option>
					<option value= 'Alexander Peterson <abpeters@ucsd.edu>'>Alexander Peterson</option>
					<option value= 'Alvin Bundalian <abundali@ucsd.edu>'>Alvin Bundalian</option>
					<option value= 'Ambuj Punn <apunn@ucsd.edu>'>Ambuj Punn</option>
					<option value= 'Andrew Budiman <adbudima@ucsd.edu>'>Andrew Budiman</option>
					<option value= 'Andrew Muinos <amuinos@ucsd.edu>'>Andrew Muinos</option>
					<option value= 'Andrew Ng <acng@ucsd.edu>'>Andrew Ng</option>
					<option value= 'Andrew Shen <ayshen@ucsd.edu>'>Andrew Shen</option>
					<option value= 'Anthony Dang <a6dang@ucsd.edu>'>Anthony Dang</option>
					<option value= 'Aravindh Dorai <adorai@ucsd.edu>'>Aravindh Dorai</option>
					<option value= 'Aria Arasteh <aarasteh@ucsd.edu>'>Aria Arasteh</option>
					<option value= 'Arick Chow <aychow@ucsd.edu>'>Arick Chow</option>
					<option value= 'Ashley McGuire <amcguire@ucsd.edu>'>Ashley McGuire</option>
					<option value= 'Austin Hill <a2hill@ucsd.edu>'>Austin Hill</option>
					<option value= 'Benjamin Young <byoung@ucsd.edu>'>Benjamin Young</option>
					<option value= 'Bowen Shu <boshu@ucsd.edu>'>Bowen Shu</option>
					<option value= 'Brian Duong <b1duong@ucsd.edu>'>Brian Duong</option>
					<option value= 'Brian Truong <bntruong@ucsd.edu>'>Brian Truong</option>
					<option value= 'Brian Yip <bcyip@ucsd.edu>'>Brian Yip</option>
					<option value= 'Bryant Kou <bkou@ucsd.edu>'>Bryant Kou</option>
					<option value= 'Byung Lee <bjl007@ucsd.edu>'>Byung Lee</option>
					<option value= 'Carla Sun <cesun@ucsd.edu>'>Carla Sun</option>
					<option value= 'Chienming Yang <chy006@ucsd.edu>'>Chienming Yang</option>
					<option value= 'Christopher Chang <c2chang@ucsd.edu>'>Christopher Chang</option>
					<option value= 'Christopher Leung <c4leung@ucsd.edu>'>Christopher Leung</option>
					<option value= 'Chuan Chang <cyc025@ucsd.edu>'>Chuan Chang</option>
					<option value= 'Cong Qin <coqin@ucsd.edu>'>Cong Qin</option>
					<option value= 'Crystal Cross <ctcross@ucsd.edu>'>Crystal Cross</option>
					<option value= 'Daniel Valles <dvalles@ucsd.edu>'>Daniel Valles</option>
					<option value= 'Dao Lam <d2lam@ucsd.edu>'>Dao Lam</option>
					<option value= 'David Ing <ding@ucsd.edu>'>David Ing</option>
					<option value= 'David Yoo <dayoo@ucsd.edu>'>David Yoo</option>
					<option value= 'Derrick McMillen <dmcmille@ucsd.edu>'>Derrick McMillen</option>
					<option value= 'Dorothy Nguyen <dpn003@ucsd.edu>'>Dorothy Nguyen</option>
					<option value= 'Edwin Tao <etao@ucsd.edu>'>Edwin Tao</option>
					<option value= 'Elioth Almada <ealmada@ucsd.edu>'>Elioth Almada</option>
					<option value= 'Eric Chung <e5chung@ucsd.edu>'>Eric Chung</option>
					<option value= 'Erik Gallegos <ergalleg@ucsd.edu>'>Erik Gallegos</option>
					<option value= 'Ernest Lim <erlim@ucsd.edu>'>Ernest Lim</option>
					<option value= 'Evan Walker <ekwalker@ucsd.edu>'>Evan Walker</option>
					<option value= 'Feiran Tao <ftao@ucsd.edu>'>Feiran Tao</option>
					<option value= 'Franklin Zhou <fyzhou@ucsd.ed>'>Franklin Zhou</option>
					<option value= 'Freddy Espino <fespino@ucsd.edu>'>Freddy Espino</option>
					<option value= 'Gabriela Ponce <gaponce@ucsd.edu>'>Gabriela Ponce</option>
					<option value= 'Gary Wang <g5wang@ucsd.edu>'>Gary Wang</option>
					<option value= 'Haronid Moncivais <hmonciva@ucsd.edu>'>Haronid Moncivais</option>
					<option value= 'Helen Wong <hmwong@ucsd.edu>'>Helen Wong</option>
					<option value= 'Henry Lin <helin@ucsd.edu>'>Henry Lin</option>
					<option value= 'Hosoo Choi <hcchoi@ucsd.edu>'>Hosoo Choi</option>
					<option value= 'Hyeong An <hman@ucsd.edu>'>Hyeong An</option>
					<option value= 'Jackson Callaway <jcallawa@ucsd.edu>'>Jackson Callaway</option>
					<option value= 'Jacky Chan <j5chan@ucsd.edu>'>Jacky Chan</option>
					<option value= 'Jae Shin <jws001@ucsd.edu>'>Jae Shin</option>
					<option value= 'Jake Rabinowitz <jrabinow@ucsd.edu>'>Jake Rabinowitz</option>
					<option value= 'James Newman <jcnewman@ucsd.edu>'>James Newman</option>
					<option value= 'Janet Barrientos <jabarrie@ucsd.edu>'>Janet Barrientos</option>
					<option value= 'Joel Jauregui <jjauregu@ucsd.edu>'>Joel Jauregui</option>
					<option value= 'John Vivio <jvivio@ucsd.edu>'>John Vivio</option>
					<option value= 'Jonathan Cui <jhcui@ucsd.edu>'>Jonathan Cui</option>
					<option value= 'Jonathan Masehi-Lano <jmasehil@ucsd.edu>'>Jonathan Masehi-Lano</option>
					<option value= 'Jonathan Nogales <jnogales@ucsd.edu>'>Jonathan Nogales</option>
					<option value= 'Jong Yoon <jwyoon@ucsd.edu>'>Jong Yoon</option>
					<option value= 'Jordan Sendar <jsendar@ucsd.edu>'>Jordan Sendar</option>
					<option value= 'Joyce Yeh <j6yeh@ucsd.edu>'>Joyce Yeh</option>
					<option value= 'Jung Kim <juk018@ucsd.edu>'>Jung Kim</option>
					<option value= 'Justin Shitanishi <jshitani@ucsd.edu>'>Justin Shitanishi</option>
					<option value= 'Kayla Kimura <kmkimura@ucsd.edu>'>Kayla Kimura</option>
					<option value= 'Kazuhito Ochiai <kaochiai@ucsd.edu>'>Kazuhito Ochiai</option>
					<option value= 'Kelvin Lapidario <klapidar@ucsd.edu>'>Kelvin Lapidario</option>
					<option value= 'Kenneth Law <klaw@ucsd.edu>'>Kenneth Law</option>
					<option value= 'Kerwin Azares <kazares@ucsd.edu>'>Kerwin Azares</option>
					<option value= 'Kevin Caasi <kcaasi@ucsd.edu>'>Kevin Caasi</option>
					<option value= 'Kevin Chon <kkchon@ucsd.edu>'>Kevin Chon</option>
					<option value= 'Kevin He <kehe@ucsd.edu>'>Kevin He</option>
					<option value= 'Kevin Lau Fang <klaufang@ucsd.edu>'>Kevin Lau Fang</option>
					<option value= 'Kevin Zhang <k7zhang@ucsd.edu>'>Kevin Zhang</option>
					<option value= 'Kiley Sok <shsok@ucsd.edu>'>Kiley Sok</option>
					<option value= 'Kristina Pinkerton <kpinkert@ucsd.edu>'>Kristina Pinkerton</option>
					<option value= 'Kurt Selander <kselande@ucsd.edu>'>Kurt Selander</option>
					<option value= 'Kwan Lee <kcl007@ucsd.edu>'>Kwan Lee</option>
					<option value= 'Lance Castillo <lscastil@ucsd.edu>'>Lance Castillo</option>
					<option value= 'Lewis Miller <lbmiller@ucsd.edu>'>Lewis Miller</option>
					<option value= 'Mahir Kalra <mskalra@ucsd.edu>'>Mahir Kalra</option>
					<option value= 'Maria Gaeta <mgaeta@ucsd.edu>'>Maria Gaeta</option>
					<option value= 'Masaki Sono <msono@ucsd.edu>'>Masaki Sono</option>
					<option value= 'Matthew Borger <mborger@ucsd.edu>'>Matthew Borger</option>
					<option value= 'Matthew Chu <mkchu@ucsd.edu>'>Matthew Chu</option>
					<option value= 'Matthew Olaranont <molarano@ucsd.edu>'>Matthew Olaranont</option>
					<option value= 'Melvin Sin <msin@ucsd.edu>'>Melvin Sin</option>
					<option value= 'Michael Hii <mhii@ucsd.edu>'>Michael Hii</option>
					<option value= 'Michael Taberner <mtaberne@ucsd.edu>'>Michael Taberner</option>
					<option value= 'Miguel Paysan <mpaysan@ucsd.edu>'>Miguel Paysan</option>
					<option value= 'Minh Ta <mqta@ucsd.edu>'>Minh Ta</option>
					<option value= 'Nathan Heisey <nheisey@ucsd.edu>'>Nathan Heisey</option>
					<option value= 'Nathaniel Asuncion <nasuncio@ucsd.edu>'>Nathaniel Asuncion</option>
					<option value= 'Neyva Cisneros <ncisnero@ucsd.edu>'>Neyva Cisneros</option>
					<option value= 'Nicholas Lau <nmlau@ucsd.edu>'>Nicholas Lau</option>
					<option value= 'Olga Sorokina <osorokin@ucsd.edu>'>Olga Sorokina</option>
					<option value= 'Oren Radousky <oradousk@ucsd.edu>'>Oren Radousky</option>
					<option value= 'Parima Shah <pashah@ucsd.edu>'>Parima Shah</option>
					<option value= 'Patrick Guan <pguan@ucsd.edu>'>Patrick Guan</option>
					<option value= 'Pengyu Wang <pew007@ucsd.edu>'>Pengyu Wang</option>
					<option value= 'Quan Le <qmle@ucsd.edu>'>Quan Le</option>
					<option value= 'Quynh Nguyen <qun003@ucsd.edu>'>Quynh Nguyen</option>
					<option value= 'Radley Angelo <rangelo@ucsd.edu>'>Radley Angelo</option>
					<option value= 'Rafael Nevarez <rnevarez@ucsd.edu>'>Rafael Nevarez</option>
					<option value= 'Richard Castro <rscastro@ucsd.edu>'>Richard Castro</option>
					<option value= 'Sally Do <s2do@ucsd.edu>'>Sally Do</option>
					<option value= 'Samson Wong <srwong@ucsd.edu>'>Samson Wong</option>
					<option value= 'Sandy Lim <salim@ucsd.edu>'>Sandy Lim</option>
					<option value= 'Sangjoon Lee <sal009@ucsd.edu>'>Sangjoon Lee</option>
					<option value= 'Scott Schmidl <sschmidl@ucsd.edu>'>Scott Schmidl</option>
					<option value= 'Sheldon Tanaka <srtanaka@ucsd.edu>'>Sheldon Tanaka</option>
					<option value= 'Shen Tian <stian@ucsd.edu>'>Shen Tian</option>
					<option value= 'Sheng Wang <shw003@ucsd.edu>'>Sheng Wang</option>
					<option value= 'Solomon Davidsohn <sdavidso@ucsd.edu>'>Solomon Davidsohn</option>
					<option value= 'Suman Malani <smalani@ucsd.edu>'>Suman Malani</option>
					<option value= 'Tarin Arora <tarora@ucsd.edu>'>Tarin Arora</option>
					<option value= 'Thanh Tran <ttt031@ucsd.edu>'>Thanh Tran</option>
					<option value= 'Thinh Nguyen <thn024@ucsd.edu>'>Thinh Nguyen</option>
					<option value= 'Thomas Hoffman <thoffman@ucsd.edu>'>Thomas Hoffman</option>
					<option value= 'Tyler Hodgkins <thodgkin@ucsd.edu>'>Tyler Hodgkins</option>
					<option value= 'Victor Vazquez <vmvazque@ucsd.edu>'>Victor Vazquez</option>
					<option value= 'William Holloway <wjhollow@ucsd.edu>'>William Holloway</option>
					<option value= 'Yuja Chang <yuc026@ucsd.edu>'>Yuja Chang</option>
					<option value= 'Yun-Tsang Tsai <y3tsai@ucsd.edu>'>Yun-Tsang Tsai</option>
				</select>
			</div>
			<div class="clear"></div>
	  	</div>
		
		<%= f.text_area :preferred_teammates, :class => "target", :rows => 10 %>
	</p>
	
	<p>
		<h3>Programming Proficiency</h3>
		<span class="info">How well do you know these languages? 10 for Expert, 0 for No Knowledge</span>
		<ul id="programming_languages">
			<li>
				<%= f.label :html, "HTML" %>
				<%= f.select :html, {"10" => 10, "9" => 9, "8" => 8, "7" => 7, "6" => 6, "5" => 5, "4" => 4, "3" => 3, "2" => 2, "1" => 1, "0" => 0} %>
			</li>
			<li>
				<%= f.label :css, "CSS" %>
				<%= f.select :css, {"10" => 10, "9" => 9, "8" => 8, "7" => 7, "6" => 6, "5" => 5, "4" => 4, "3" => 3, "2" => 2, "1" => 1, "0" => 0} %>
			</li>
			<li>
				<%= f.label :javascript, "Javascript" %>
				<%= f.select :javascript, {"10" => 10, "9" => 9, "8" => 8, "7" => 7, "6" => 6, "5" => 5, "4" => 4, "3" => 3, "2" => 2, "1" => 1, "0" => 0} %>
			</li>
			<li>
				<%= f.label :java, "Java" %>
				<%= f.select :java, {"10" => 10, "9" => 9, "8" => 8, "7" => 7, "6" => 6, "5" => 5, "4" => 4, "3" => 3, "2" => 2, "1" => 1, "0" => 0} %>
			</li>
			<li>
				<%= f.label :cpp, "C/C++" %>
				<%= f.select :cpp, {"10" => 10, "9" => 9, "8" => 8, "7" => 7, "6" => 6, "5" => 5, "4" => 4, "3" => 3, "2" => 2, "1" => 1, "0" => 0} %>
			</li>
			<li>
				<%= f.label :python, "Python" %>
				<%= f.select :python, {"10" => 10, "9" => 9, "8" => 8, "7" => 7, "6" => 6, "5" => 5, "4" => 4, "3" => 3, "2" => 2, "1" => 1, "0" => 0} %>
			</li>
			<li>
				<%= f.label :ruby_ror, "Ruby/Ruby on Rails" %>
				<%= f.select :ruby_ror, {"10" => 10, "9" => 9, "8" => 8, "7" => 7, "6" => 6, "5" => 5, "4" => 4, "3" => 3, "2" => 2, "1" => 1, "0" => 0} %>
			</li>
			<li>
				<%= f.label :sql, "SQL (MySQL, Postgres, etc.)" %>
				<%= f.select :sql, {"10" => 10, "9" => 9, "8" => 8, "7" => 7, "6" => 6, "5" => 5, "4" => 4, "3" => 3, "2" => 2, "1" => 1, "0" => 0} %>
			</li>
			<li>
				<%= f.label :other, "Any Other Languages?" %>
				<%= f.text_field :other %>
			</li>
		</ul>
	</p>

	<p id="form_button"><%= f.submit "Continue to Step 3", :class => "orange_button" %>
	
	<%= hidden_field_tag 'step', '2' %>
<% end %>