<!-- Not in use right now. Back button replaces functionality -->
	<ul id="breadcrumb">
		<li class="active">Step 1 > Login Info</li> 
		<li class="faded">Step 2 > A Bit About You</li>
		<li class="faded">Step 3 > Availability</li>
	</ul>
	
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	  <%= f.error_messages %>

	  <p><%= f.label :email %><br />
	  <%= f.text_field :email %></p>

	  <p><%= f.label :password %> <span class="info">Leave blank if you don't want to change it.</span>
	  <%= f.password_field :password %></p>

	  <p><%= f.label :password_confirmation %><br />
	  <%= f.password_field :password_confirmation %></p>

	  <p><%= f.label :current_password %> <span class="info">(we need your current password to confirm your changes.</span>
	  <%= f.password_field :current_password %></p>

	  <p id="form_button"><%= f.submit "Update", :class => "orange_button" %></p>
	<% end %>
