<% title "Schedules" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>User</th>
  </tr>
  <% for schedule in @schedules %>
    <tr>
      <td><%= schedule.name %></td>
      <td><%= schedule.description %></td>
      <td><%= schedule.user_id %></td>
      <td><%= link_to "Show", schedule %></td>
      <td><%= link_to "Edit", edit_schedule_path(schedule) %></td>
      <td><%= link_to "Destroy", schedule, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Schedule", new_schedule_path %></p>
