<%= form_for @day do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :schedule_id %><br />
    <%= f.text_field :schedule_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
