<% if user_signed_in? %>
	<% if current_user.signup_status == "completed" %>
		<%= link_to "Home", root_url %>
		<div class="login"><%= link_to "Logout", destroy_user_session_path %></div>
		<div class="login">Hey, <%= current_user.first_name %></div>
	<% end %>
<% else %>
	<%= link_to "Home", root_url %>
	<div class="login"><%= link_to "Login/Signup", new_user_session_path %></div>
<% end %>